<!doctype html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>MiniWeather</title>
</head>

<body>
  <h1>Mini Weather App</h1>
  <p class="loading">Getting the weather in your location<span>.</span><span>.</span><span>.</span></p>
  
  <div id="weather"></div>

  <script src="/script.js"></script>
</body>
